<div class="container">
<h2>Contacts Here Mutha Fucka</h2>
<ol>
  {{#each contact in model}}

      <li>
        {{#link-to 'contact' contact}}
          {{contact.lastName}},
          {{contact.firstName}}
        {{/link-to}}
      </li>

  {{else}}
    <li>No contacts found.</li>
  {{/each}}
</ol>
</div>
